$primary: #b5ed3d;
$primary-1: #a7f46a;
$primary-light: #e0fecd;
$primary-dark: #f3af44;
$secondary: #2f5bd1;
$secondary-1: #3870ff;
$secondary-2: #2626ff;
$secondary-light: #eff2fc;
$black: #101010;
$black-2: #241455;
$black-3: #33353e;
$black-4: #33354d;
$black-5: #666;
$black-primary: #3b3d6b;
$black-secondary: #1d263a;
$black-bg: #000d30;
$white: #fff;
$white-1: #f8f8f8;
$white-2: #ededed;
$white-3: #e2e4eb;
$white-primary: #fff1ed;
$white-secondary: #f0f0ff;
$white-secondary-2: #adadff;
$white-bg: #f9f9f9;
$gray: #d7cebd;
$gray-1: #b1aa9e;
$gray-3: #d6dfdb;

$red: #ff6944;
$green: #63ff44;

$font-primary: "Urbanist", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-dm-sans: "DM Sans", $font-secondary;
